@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #fff1f2; /* love-50 */
    background-image: radial-gradient(#fecdd3 1px, transparent 1px);
    background-size: 20px 20px;
    color: #881337; /* love-900 */
    direction: rtl;
    text-align: right;
    font-family: var(--font-vazir);
  }
}

/* Base styles for the TipTap editor */
.ProseMirror {
  outline: none;
  min-height: 150px;
  direction: rtl;
  text-align: right;
}

.ProseMirror p {
  margin-bottom: 0.5em;
}

.ProseMirror ul,
.ProseMirror ol {
  padding-right: 1.5em;
  padding-left: 0;
}
